@media screen and (max-width:480px) {
    header {
        height: 150px;
        clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 100% 90%);

    }

    #SCLogo {
        width: 30vw;
        bottom: 2vh;
    }

    .Name {
        font-size: 10vw;
        top: 27%;
        left: 35%;
        text-align: center;
    }
    
    .Text1 {
        font-size: 10vw;
        text-align: center;
        top: 85vh;
        left: 50vw;
    }
    
    .Triangle {
        display: none;
    }

    nav {
        height: 975vw;
    }

    .Underlay {
        height: 75vh;
    }

    .Navbarlinks {
        font-size: 7.8vw;
    }
    
    .AboutSCTitle {
        padding-left: 32%;
        font-size: 15vw;
        padding-top: 52vw;
    }

    .AboutSCText {
        padding-left: 17%;
        top: 65vw;
        font-size: 5vw;
    }

    .FillerSCText {
        padding-left: 35%;
        top: 129vw;
        font-size: 4vw;
    }

    .SCPhoto {
        transform: scaleX(1);
        top: 15vw;
        width: 95vw;
        height: 35vw;
        object-fit: cover;
        object-position: 50% 25%;
    }

    .Education {
        top: 180vw;
    }

    .AboutEDUTitle {
        padding-left: 1%;
        padding-top: 1.5vw;
        font-size: 15vw;

    }

    .AboutEDUFiller {
        display: none;
    }

    .AboutEDUText {
        top: 30vw;
        padding-right: 21vw;
        padding-left: 2vw;
        font-size: 5vw;
    }

    .WestBuilding {
        top: -40vw;
        left: 2vw;
        width: 96vw;
        height: 35vw;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .SCProjectTitle {
        padding-right: 2%;
        top: -11vw;
        font-size: 15vw;
        text-align: right;
    }

    .SCProjectText {
        font-size: 5vw;
    }

    .SCProjectFiller {
        display: inline-block;
        padding-left: 17vw;
        padding-right: 2vw;
        top: 90vw;
        font-size: 4vw;
        text-align: right;
    }

    .PortfolioProject {
        display: none;
    }

    .ResortPhoto {
        position: absolute;
        width: 100%;
        top: 20vw;
        border-radius: 20px;
    }

    .ResortTitle {
        padding-left: 2vw;
        padding-top: 4vw;
        font-size: 11vw;
    }

    .ResortText {
        display: none;
    }

    .ResortFiller {
        display: none;
    }

    .BoringProject {
        top: 222vw;
        left: 2vw;
        width: 78vw;
        height: 60vw;
    }

    .BoringTitle {
        font-size:11vw;
        text-align: left;
    }

    .BoringText {
        display: none;
    }

    .BoringFiller {
        display: none;
    }
}

@media screen and (max-width:700px) {
    
}