* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@keyframes ArrowFade {
    0% {opacity:0%;}
    50% {opacity:100%;}
    100% {opacity:0%;}
}
header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 40% 90%, 45% 100%, 55% 100%, 60% 90%, 100% 90%);
    z-index: 200;
}
#SCLogo {
    position: absolute;
    width: 120px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    display: block;
}
.Name {
    position: absolute;
    color: #151515;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:25%;
    left: 25%;
    transform: translate(-25%,-25%);
    z-index: 30;
}
.Text1 {
    position: absolute;
    color: #151515;
    font-size: 40px;
    text-align: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:75%;
    left: 75%;
    transform: translate(-50%,-50%);

    z-index: 30;
}
.Triangle {
    position: absolute;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 55%, 0% 100%, 100% 100%);
    background-color: #151515;
    z-index: 30;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    animation-name: ArrowFade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.T2 {
    top: 26%;
    animation-delay: 0s;
}
.T3 {
    top: 41%;
    animation-delay: 1s;
}
.T4 {
    top: 71%;
    animation-delay: 3s;
}
.T5 {
    top: 86%;
    animation-delay: 4s;
}
body {
    background-color: #151515;
    height: 10000px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
#SquareAnim {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    transition: all 0.15s;
}
#SquareAnim::after {
    position: absolute;
    content: "Hover";
    top: 80px;
    left:-17px;
    animation-name: ArrowFade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 30px;
    color: #FF6600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#SquareAnim:hover {
    width: 110%;
    height: 100%;
    transition: all 0.2s;
    opacity: 100%;
    color: rgba(255, 255, 255, 0);
}
.SideArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#FF6600;
    top: 48.5%;
    left: 45%;
    transform: translate(-50%,-50%);
    list-style: none; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
    animation-name: ArrowFade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 10;
}
#SideArrow2 {
    left: 53.5%;
    transform: rotate(-90deg);
    background-color: #FF6600;
}
.Navbar {
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Navbarlinks {
    text-decoration: none;
    font-size: 27px;
    list-style: none;
}
.Navbarlinks li {
    display: list-item;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33.33%;
    text-align: center;
}
.Navbarlinks li a {
    display: block;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transition: all 0.2s;
}
.Navbarlinks li a:hover {
    border: 5px solid #FF6600;
    background-color: aliceblue;
    font-size: 35px;
    transition: all 0.2s;
}
a {
    text-decoration: none;
}
a:link {
    color: #FF6600;
}
a:visited {
    color: #FF6600;
}
a:active {
    color: #FF6600;
}
a:hover {
    color: #ff3c00;
}
footer {
    position: absolute;
    width: 100%;
    height:150px;
    background-color: rgb(0, 0, 0);
    top: 10000px;
}