* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*Keyframe animation for Triangles & 'Hover' on the top of the page.*/
@keyframes ArrowFade {
    0% {opacity:0%;}
    50% {opacity:100%;}
    100% {opacity:0%;}
}
@keyframes SquareAnimColor {
    0% {background-position:0% 10%}
    50% {background-position:0% 700%}
    100% {background-position:0% 10%}
}
@keyframes rotate {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}
header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 40% 90%, 45% 100%, 55% 100%, 60% 90%, 100% 90%);
    z-index: 200;
}
.HeaderUnderlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg,#F3B700,#F18701,#DF2935,#961f01,#961f01,#DF2935,#F18701,#F3B700);
    background-size: 300% 700%;
    animation:SquareAnimColor;
    animation-duration: 240s;
    animation-iteration-count: infinite;
}
#SCLogo {
    position: absolute;
    width: 120px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    display: block;
}
.Name {
    position: absolute;
    color: #151515;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    top:25%;
    left: 25%;
    transform: translate(-25%,-25%);
    z-index: 30;
}
.Text1 {
    position: absolute;
    color: #151515;
    font-size: 40px;
    text-align: right;
    font-family: Quicksand;
    top:75%;
    left: 75%;
    transform: translate(-50%,-50%);

    z-index: 30;
} /*Lines 54-84 are utilized for the small black triangles used to guide user down the page upon Square hover.*/

/*This code struggles with being responive - causes triangles to be visible when screen shrinks due to 'SquareAnim' going under them.*/
.Triangle {
    position: absolute;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 55%, 0% 100%, 100% 100%);
    background-color: #151515;
    z-index: 30;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    animation-name: ArrowFade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.T2 {
    top: 26%;
    animation-delay: 0s;
}
.T3 {
    top: 41%;
    animation-delay: 1s;
}
.T4 {
    top: 71%;
    animation-delay: 3s;
}
.T5 {
    top: 86%;
    animation-delay: 4s;
}
body {
    background-color: #151515;
    height: 4000px;
    /*Overflow hidden due to Chrome creating Unnecessary scrollbars*/
    -ms-overflow-style: none;  
    scrollbar-width: none;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
/*Square at top of page user hovers over to see name and triangles*/
#SquareAnim {
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg,#F3B700,#F18701,#DF2935,#961f01,#961f01,#DF2935,#F18701,#F3B700);
    background-size: 300% 700%;
    animation:SquareAnimColor;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    transition: all 0.15s;
}
#SquareAnim::after {
    position: absolute;
    content: "Hover";
    top: 80px;
    left:-17px;
    animation-name: ArrowFade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 30px;
    color: #FF6600;
    font-family: 'Josefin Sans', sans-serif;
}
#SquareAnim:hover {
    width: 110%;
    height: 100%;
    transition: all 0.2s;
    opacity: 100%;
    color: rgba(255, 255, 255, 0);
}
/*CSS rule for two orange triangles next to 'SquareAnim' Square at top of page.*/

/*This code struggles with being responsive - triangles merge into 'SquareAnim'*/
.SideArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#FF6600;
    top: 48.5%;
    left: 45%;
    transform: translate(-50%,-50%);
    list-style: none; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
    animation-name: ArrowFade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 10;
}
/*Orange Triangle on the right side of 'SquareAnim'*/
#SideArrow2 {
    left: 53.5%;
    transform: rotate(-90deg);
    background-color: #FF6600;
}
nav {
    position: absolute;
    top:100%;
    height: 3900px;
    width: 100%;
    background-color: #000000;
}
.Navbar {
    width: 100%;
    background-color: #000000;
    position: sticky;
    top: 0;
    font-family: 'Quicksand', sans-serif;
    z-index: 50;
}

.Navbarlinks {
    text-decoration: none;
    font-size: 35px;
    list-style: none;
}
.Navbarlinks li {
    display: list-item;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33.33%;
    text-align: center;
}
.Navbarlinks li a {
    display: block;
    color: #ffffff;
    border-top: 5px solid #FF6600;
    border-bottom: 5px solid #FF6600;
    transition: all 0.2s;
    background: linear-gradient(0deg,#F3B700,#F18701,#DF2935,#961f01,#961f01,#DF2935,#F18701,#F3B700);
    background-size: 300% 700%;
    animation:SquareAnimColor;
    animation-duration: 240s;
    animation-iteration-count: infinite;
}
.Navbarlinks li a:hover {
    border: 7px solid aliceblue;
    font-size: 45px;
    transition: all 0.2s;
}
/*Lines 186-200 are for making anchor tags not have any additional decor or change colors upon hover/active/link/visited.*/
a {
    text-decoration: none;
}
a:link {
    color: #FF6600;
}
a:visited {
    color: #FF6600;
}
a:active {
    color: #FF6600;
}
a:hover {
    color: #ff3c00;
}
.Underlay{
    position: sticky;
    width: 100%;
    height: 27.5vw;
    background: linear-gradient(180deg,#F3B700,#F18701,#DF2935,#961f01);
    background-size: 100% 150%;

    z-index: 1;
    top: 0;
}
.Overlay {
    position: absolute;
    top: 105%;
    width: 100%;
    z-index: 20;
}
.image {
    transition: all 0.2s;
}
.image:hover {
    filter: brightness(115%) saturate(115%);
    transition: 0.2s;
}
/*This Section forward is for the "About Me" Section*/
.AboutMe {
    position: absolute;
    top:105%;
    height: 75%;
    width: 100%;
    background-color: #21d19f00;
    z-index: 30;
}
.AboutSCTitle {
    position: absolute;
    padding-left: 81%;
    padding-top: 3.5vw;
    font-family:'Josefin Sans', sans-serif;
    font-size: 65px;
    background: -webkit-linear-gradient(90deg,#4357AD,#06AED5, #21D19F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}
.AboutSCText {
    position: absolute;
    padding-left: 45%;
    top: 7vw;
    padding-right: 3.75%;
    text-align: right;
    font-family:'Josefin Sans', sans-serif;
    font-size: 25px;
    background: -webkit-linear-gradient(90deg,#4357AD,#06AED5, #21D19F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}
.FillerSCText {
    position: absolute;
    padding-left: 45%;
    top: 21vw;
    padding-right: 3.90%;
    text-align: right;
    font-family: Flow Circular;
    font-size: 25px;
    background: -webkit-linear-gradient(90deg,#21D19F,#06AED5,#4357AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}
.SCPhoto {
    position: absolute;
    top: 3vw;
    left: 2.5%;
    border-radius: 10px;
    transform: scaleX(-1);
    z-index: 30;
    width: 18%;
}
.Truck {
    position: absolute;
    top: 3vw;
    left: 22%;
    border-radius: 10px;
    transform: scaleX(-1);
    z-index: 30;
    width: 10%;
}
.Kombucha {
    position: absolute;
    top: 11vw;
    left: 22%;
    border-radius: 10px;
    z-index: 30;
    width: 8%;
}
.LightTruck {
    position: absolute;
    top: 28vw;
    left: 2.5%;
    border-radius: 10px;
    z-index: 30;
    width: 9%;
    transform: scaleX(-1);
}




.Education {
    position: absolute;
    top:180%;
    height: 75%;
    width: 100%;
    background-color: #06afd500;
    z-index: 30;
}
.AboutEDUTitle {
    position: absolute;
    padding-left: 7%;
    padding-top: 7.5vw;
    font-family:'Josefin Sans', sans-serif;
    font-size: 65px;
    background: -webkit-linear-gradient(90deg,#988F2A,#21D19F,#FFE066 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
} 
.AboutEDUFiller {
    position: absolute;
    padding-left: 7.25vw;
    top: 29.5vw;
    padding-right: 55vw;
    text-align: left;
    font-family: Flow Circular;
    font-size: 25px;
    background: -webkit-linear-gradient(90deg,#FFE066,#21D19F,#988F2A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}
.AboutEDUText {
    position: absolute;
    top: 11vw;
    padding-right: 55vw;
    padding-left:7vw;
    text-align: left;
    font-family:'Josefin Sans', sans-serif;
    font-size: 25px;
    background: -webkit-linear-gradient(90deg,#988F2A,#21D19F,#FFE066 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}
.WestBuilding {
    position: absolute;
    top: 18vw;
    left: 65%;
    border-radius: 10px;
    z-index: 30;
    width: 30%;
}
.WestBand {
    position: absolute;
    top: 23.5vw;
    left: 48.5%;
    border-radius: 10px;
    z-index: 30;
    width: 15%;
}
.WestAlbanyLogo {
    position: absolute;
    top: 18vw;
    left: 55.5%;
    border-radius: 10px;
    z-index: 30;
    width: 8%;
}



.MyProjects {
    position: absolute;
    top:255%;
    height: 125%;
    width: 100%;
    background-color: #df293500;
    z-index: 30;
}








footer {
    position: absolute;
    width: 100%;
    height:500px;
    background-color: #151515;
    top: 500%;
    z-index: 500;
}